.toc {
	overflow-y: auto
}

.toc>.toc-list {
	overflow: hidden;
	position: relative
}

.toc>.toc-list li {
	list-style: none
}

.toc-list {
	margin: 0;
	/*padding-left: 10px*/
}

a.toc-link {
	color: currentColor;
	height: 100%
}

.is-collapsible {
	max-height: 1000px;
	overflow: hidden;
	transition: all 300ms ease-in-out
}

.is-position-fixed {
	position: fixed !important;
	top: 0
}

iframe {
    resize: both;
    padding: 0 10px 10px 0;
}

.popOutLink {
    vertical-align: top;
}

#content h1 em,
#content h2 em {
	font-size: 0.75em;
	color: #bbb;
	padding-left: 7px;
	font-style: normal;
}